@using PdfFormTestTask.Model

@model PfsUser

<div class="form-horizontal">
    <h4>User's PDF Forms</h4>
    <hr />
    <span>User: @Model.Username</span>
    <hr />
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th>File</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PfsPdfFile file in Model.PdfFiles)
                {
                    <tr>
                        <td>
                            <img src="~/Content/Images/pdf-file.png" />
                        </td>
                        <td>@file.FileName</td>
                        <td>
                            @Html.ActionLink("Edit Form", "Index", "Edit", new { @id = file.LocalName }, new { @class = "btn btn-success" })
                            <a href="/api/Download/@Model.Username/@Model.Password/@file.LocalName" class="btn btn-success">Download</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <input type="file" style="visibility: hidden;" name="upload" id="upload_file" /><br />
        <button id="btn_upload" class="btn btn-success">Upload PDF File</button>
    </div>

    @section scripts{
        <script type="text/javascript">

            $(document).ready(
                function () {
                    $('#btn_upload').click(
                        function () {
                            $("#upload_file").click();
                        }
                    );

                    $('#upload_file').on('change', function (e) {
                        e.preventDefault();
                        var files = document.getElementById('upload_file').files;
                        if (files.length > 0) {
                            if (window.FormData !== undefined) {
                                var data = new FormData();
                                for (var x = 0; x < files.length; x++) {
                                    data.append("file" + x, files[x]);
                                }

                                $.ajax({
                                    type: "POST",
                                    url: '/api/Upload/@Model.Username/@Model.Password',
                                    contentType: false,
                                    processData: false,
                                    data: data,
                                    success: function (result) {
                                        window.location = "/Forms/List";
                                    },
                                    error: function (xhr, status, p3) {
                                    }
                                });
                            } else {
                                alert("Browser doesn't support HTML5 file upload!");
                            }
                        }
                    });
                }
            );
        </script>
    }

</div>


